/*MANU LATERAL DESKTOP*/
.btn-menu-desk{
     border: none;
     background-color: transparent;
     color: white;
     transition: 500ms;
}
.btn-menu-desk:hover{
    background-color: #f2f2f2;
    color: black;
}

.active-menu-desk{
    background-color: white !important;
    color: black !important;
}
/*MANU LATERAL DESKTOP*/





/*CONTENT*/
#btn-form{
    background-color: orangered;
    border: none;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    width: 180px;
    transition: 500ms;
}
#btn-form:hover{
    background-color: rgba(255, 68, 0, 0.756);
}


#container-capa{
     width: 25px;
     height: 25px;
}
#container-capa img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media (max-width:992px) {
    #content-abas{
        margin-left: 3%; 
        margin-right: 0;
    }

    #btn-form{
        width: 100%;
    }

    #content-projetos{
        width: 650px !important;
    }
}

/*CONTENT*/








/*MENU MOBILE*/
#content-menu-mobile{
      position: fixed;
      top: 0;
      width: 100%;
      height: 100vh;
      background-color: #f2f2f2;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
}

.btn-menu-mobile{
    border: none;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.425);
    font-size: 22px;
    transition: 500ms;
}
.btn-menu-mobile:hover{
   background-color: #f2f2f2;
   color: black;
}


.animaContentMobile{
     animation: animaContentMobile 500ms !important;
}
@keyframes animaContentMobile {
      from{opacity: 0;}
      to{opacity: 1;}
}
/*MENU MOBILE*/